<div style="display: flex; flex-direction: column; justify-content: space-around; height: 100%">
  <div style="align-self: center;">
    <h1 class="question question-start">Q{{questionNumber}}: </h1>
    <h2 class="question">{{this.question.question}}</h2>
  </div>


  <div class="wrapper">
    <button [ngStyle]="{backgroundColor: getColor(answer)}" *ngFor="let answer of answers"
            (click)="selectedAnswer(answer)" class="box">{{answer}}
    </button>
  </div>

  <div style="align-self: center;">
    <button (click)="checkAnswer()" class="box" [hidden]="isAnswered">submit</button>
    <button (click)="emitNextQuestion()" class="box" [hidden]="!isAnswered">Next Question</button>
  </div>
</div>
